<%- include layouts/header.ejs %> 
	<!--start-breadcrumbs-->
	<div class="breadcrumbs">
		<div class="container">
			<div class="breadcrumbs-main">
				<ol class="breadcrumb">
					<li><a href="/">Inicio</a></li>
					<li class="active">Compras</li>
				</ol>
			</div>
		</div>
	</div>
	<!--end-breadcrumbs-->
	<!--start-ckeckout-->
	<div class="ckeckout">
		<div class="container">
			<div class="ckeckout-top">
			<div class=" cart-items heading">
			 <h3>Manuales Comprados</h3>			 				
			<div class="in-check" >
				<ul class="unit">
					<li><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					Producto</span></li>
					<li><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Nombre</span></li>		
					<li><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  Precio</span></li>
					<li><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  Cantidad</span></li>
					<li><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Fecha de Compra</span></li>
					<div class="clearfix"> </div>
				</ul>
				<% for(var micomp=0; micomp<MisCompras.length; micomp++) { %>
				<ul class="cart-header">						
						 <li class="ring-in">
							<a>
							<img width="177" height="177" src="images/<%=MisCompras[micomp].imagen %>" class="img-responsive" alt="">						
						    </a>
						</li>
						<li><span><%=MisCompras[micomp].titulo %></span></li>
						<li><span>$ <%=MisCompras[micomp].precio %>.00</span></li>
						<li><span>1</span></li>
						<li><span><%=MisCompras[micomp].fecha %></span></li>						
					<div class="clearfix"> </div>
				</ul>
				<% } %>   
			</div>
			</div>  
		 </div>
		</div>
	</div>
	<!--end-ckeckout-->
	<%- include layouts/footer.ejs %>